<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Medical Appointment App</display-name>

  <!-- Define AppointmentServlet -->
  <servlet>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>controllers.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>

  <!-- Define PatientServlet -->
  <servlet>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>controllers.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/PatientServlet</url-pattern>
  </servlet-mapping>

  <!-- Define DoctorServlet -->
  <servlet>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>controllers.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/DoctorServlet</url-pattern>
  </servlet-mapping>

</web-app>
